<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Description }}">
    <meta name="robots" content="index, follow">
    <link name="canonical" href="{{ .Permalink }}">
    <title>{{ .Title }} - K8s.lt</title>
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    <link rel="icon" href="{{ "/images/favicon.ico" | absURL }}" type="image/x-icon">
</head>