{{ with .Site.Data.testimonialSection }}
{{ if .enable }}
<section class="section testimonial">
    <div class="testimonial__background_shape">
        <svg viewBox="0 0 1920 79">
            <path d="M0 0h1920v79L0 0z" data-name="Path 1450"/>
        </svg>
    </div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="blog-preview__header">
                    <span class="top-title pre-line">{{ .topTitle }}</span>
                    {{ .title | markdownify }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ $section := .testimonial }}
            {{ range $section }}
            <div class="col-lg-6">
                <div class="testimonial__slider_item">
                    <p class="testimonial__slider_item-photo">
                        <a href="{{ .profile }}" target="_blank">
                            <img src="{{ .image }}" alt="{{ .name }}"/>
                        </a>
                    </p>
                    <p class="testimonial__slider_item-content"> {{ .comment | markdownify }} </p>
                    <p class="testimonial__slider_item-author"><span><a href="{{ .profile }}" target="_blank">{{ .name }}</a> {{ .position }} iš <a href="{{ .companyLink }}" target="_blank">{{ .company }}</a> </span></p>
                </div>
            </div>
            {{ end }}
        </div>

    </div>
</section>
{{ end }}
{{ end }}